.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display			: inline-block;
	text-align		: center;
	vertical-align	: top;
	width			: 100%;
}

// Fluid Gallery Columns

@for $i from 2 through 9 {
	.gallery-columns-#{$i} .gallery-item {
		@include column( $i );
	}
}

.gallery-caption {
	display		: block;
	text-align	: center;
	margin		: 0;
}

.gallery-icon {
	a { 
		display		: block; 
		text-align	: center;
	}

	img {
		height			: auto;
		margin-bottom	: 0;
	}
}