$light	: #fff;
$med	: #ccc;
$dark	: #020202;

// Backgrounds
$color__background-body		: $light;
$color__background-screen	: #f1f1f1;
$color__background-hr		: $med;
$color__background-button	: #e6e6e6;
$color__background-pre		: #eee;
$color__background-ins		: #fff9c0;

// Text colors
$color__text-screen			: #21759b;
$color__text-input			: #666;
$color__text-input-focus	: #111;
$color__link				: royalblue;
$color__link-visited		: purple;
$color__link-hover			: midnightblue;
$color__text-main			: #404040;
$color__text-social 		: $light;
$color__text-ins 			: $dark;
$color__text-button 		: rgba(0, 0, 0, .8);

// Border colors
$color__border-button		: $med $med #bbb;
$color__border-button-hover	: $med #bbb #aaa;
$color__border-button-focus	: #aaa #bbb #bbb;
$color__border-input		: $med;
$color__border-abbr			: #666;

// Shadow colors
$color__shadow-button-text 			: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner 		: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2 		: rgba(0, 0, 0, 0.05);
$color__shadow-button-inner-hover 	: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner-2-hover : rgba(0, 0, 0, 0.02);
$color__shadow-button-inner-focus 	: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2-focus : rgba(0, 0, 0, 0.15);

// Menu colors
$color__bg-menu-button			: $med;
$color__bg-menu-button-mobile 	: $med;
$color__bg-menu-item-mobile		: $med;
$color__bg-menu-item			: $med;
$color__bg-menu-current			: darken( $color__bg-menu-item, 25% );
$color__text-menu-mobile		: $light;
$color__text-menu-mobile-hover 	: $dark;
$color__text-menu				: $dark;
$color__text-menu-hover			: darken( $color__bg-menu-item, 25% );
$color__text-menu-button		: $light;
$color__text-menu-button-mobile : $light;
$color__text-menu-current		: $light;
$color__text-menu-current-hover	: $med;
$color__text-submenu			: $light;
